body {
  margin: 0;
  height: 100%;
  padding: 0;

font-family: montserrat;
background-color: #000000;
background-image:  linear-gradient(135deg, #303030 25%, transparent 25%), linear-gradient(225deg, #303030 25%, transparent 25%), linear-gradient(45deg, #303030 25%, transparent 25%), linear-gradient(315deg, #303030 25%, #000000 25%);
background-position:  10px 0, 10px 0, 0 0, 0 0;
background-size: 10px 10px;
background-repeat: repeat;
}

/* Logo */
nav ul li img {
  width: 20%; /* Set the width of the logo */
  height: auto; /* Maintain aspect ratio of the logo */
}

/* Header */
.header_flex {
  display: flex;
  justify-content: center; /* Center the items in the navbar */
  align-items: center; /* Vertically center items */
  background-color: white;
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  height: 46px;
}

.header_flex .logo img{
width: 350px;
display:block;
margin-left:auto;
margin-right:auto;

}
/*Subheader*/

.subheader ul{
font-family: montserrat;
align-items: center;
justify-content: center;
height: 35px;
color: white;
display: flex;
background-color: #0492C2;
list-style: none;
margin: 0;

}

.subheader ul li{
margin-right: 50px;
}

.subheader ul li a{
text-decoration: none;
color: white;
}


.subheader ul li a:hover{
font-weight: bold;
color: orange;
}


/*Sticky Footer Spotify Iframe*/

.spotify-footer {
  position: fixed;  /* Sticks to the bottom */
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0; /* Some padding for spacing */
  display: flex;
  justify-content: center; /* Centers the player */
  z-index: 100; /* Ensures it's above other elements */
}

.spotify-footer iframe {
  max-width: 100%; /* Ensures it scales properly */
}

/*Icons*/

.fa-brands{
font-size: 1.4rem;

}

.fa-brands:hover{
color: orange;
}

/*About Me Section*/

.about_me{

width: 50vw;
height: 100%;
background-color: rgba(0, 0, 0, 0.8); /* Use RGBA for transparency only on the background */
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
/*border: solid #0492C2 5px;*/

}

.wrapper{
display: flex;
justify-content: center;
height: 70vh;
align-items: center;


}

.about_me h1{
font-size: 2rem;
color: white;
text-align: center;
margin: 0;
text-shadow: 0 0 10px #0492C2, 0 0 20px #0492C2, 0 0 30px #0492C2; /* Blue glow */
background-color: #0492C2;
padding: 0.15em;
}

.about_me p{
font-size: 1.25rem;
color: white;
text-align: center;
width: 70%;
line-height: 2rem;


}

.grid-wrapper-flex{
display: flex;
justify-content: center;
align-items: center;
}

.grid-container{
display: grid;
grid-template-columns: repeat(5, 350px);
grid-template-rows: 250px;
width: 100%;
height: 500px;
grid-gap: 10px;
margin: 100px;
}

.grid-item{
background-color: black;
}

.grid-item p{
background-color: #0492C2;
margin: 0;
text-align: center;
color: white;
font-weight: bold;
padding: 10px;
}

.grid-item.item1{
grid-column: 1 / 2;
grid-row: 1 / 1;

}

.grid-item img {
  width: 100%;  /* Make image take full width of the grid item */
  height: 100%; /* Make image take full height of the grid item */
  object-fit: cover; /* Ensures the image fills the space while maintaining aspect ratio */
}